<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body style="background-color:lightgray">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'addPost/style.css' %}" />
        <header style="text-align: center;">
            <h1>Welcome to ghostPost! 👻</h1>
        </header>
        <ul>
            <li><a href="/">Home</a></li>
            </ul>
        <h2>Add a post here!</h2>
        {% load crispy_forms_tags %}
        <form action="" method="post">

            {% csrf_token %}
            {{ form|crispy}}
            <br>
            <button>
                Submit
            </button>
        </form>
    </body>

</html>